
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome</h1>
                <h2>to codethoughts.co.uk</h2>
            </hgroup>
            <p>
                My name is James Foster. I'm a .NET developer. This will be my blog and I will attempt to chronicle
                the process of it's creation and evolution.
            </p>
        </div>
    </section>
}
<h3>While you're waiting, why not read something:</h3>
<ol>
    <li><a href="http://weblogs.asp.net/scottgu/">Scott Gu</a></li>
    <li><a href="http://hanselman.com">Scott Hanselman</a></li>
    <li><a href="http://haacked.com/">Phil Haack</a></li>
    <li><a href="http://wekeroad.com/">Rob Conery</a></li>
    <li><a href="http://ayende.com/blog">Ayende</a></li>
    <li><a href="http://bennedal.com/">Ben Nedal</a></li>
</ol>
<h3>Or watch something:</h3>
<ol>
    <li><a href="http://vimeo.com/ndcoslo/videos">NDC 2012</a></li>
    <li><a href="http://www.asp.net/mvc/pluralsight">ASP.NET MVC Training video from Pluralsight</a></li>
</ol>
