body {
	padding-top: 80px;
}

.github-link {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 9999;
}

fieldset legend { display: none; }

/* facebook and twitter links */
ul#social li {
	display: inline;
	list-style: none;
}

ul#social li a {
	color: #999;
	text-decoration: none;
}

a.facebook, a.twitter {
	display: block;
	float: left;
	height: 24px;
	padding-left: 17px;
	text-indent: -9999px;
	width: 16px;
}

a.facebook { background: url("../Images/facebook.png") no-repeat; }

a.twitter { background: url("../Images/twitter.png") no-repeat; }

/* todos */
.todo, .todo ol { list-style: none; }

.todo .complete .description { text-decoration: line-through; }

.todo .date { }

/* posts */
.post {
	padding: 15px 0;
}
.post + .post {
	border-top: 1px solid blue;
}

.post .content {
	margin-top: 15px;
}

.post-editor {
	font-family: Consolas, 'Courier New', 'Simplified Arabic Fixed';
	width: 100%;
}